<h1>Sign In</h1>

<%= form_tag session_url do %>
  <div>
    <%= label_tag :username %><br />
    <%= text_field_tag :username %>
  </div>

  <div>
    <%= label_tag :password %><br />
    <%= text_field_tag :password %>
  </div>


  <div>
    <%= submit_tag "Create Movie" %>
  </div>
<% end %>
