<h1>User #<%= @user.id %></h1>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>

<p>
  <b>Votes (<%= @user.votes.count %>):</b>
  <ul>
    <% @user.movies.each do |movies| %>
      <li><%= movies.title %></li>
    <% end %>
  </ul>
</p>
